

<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Cultural Bias in Wikipedia</title>
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    {#Loads path to static files#}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
</head>

<body>
    <div class="login-card">
        <h1>Choose Article and Languages</h1>
        {# url checks urls.py for link which refers to views.py function   #}
        {#   if redirecting to analysis index view     {% url 'analysis:index' %}#}
        <form action="{% url 'process' %}" method="post">
            {% csrf_token %}
            <input type="text" name="article" placeholder="Article Name" >

            {% if all_langs %}

                <select name = "langOne">
                    {% for lang in all_langs %}
                    <option value = "{{ lang.name}}">{{ lang.name }}</option>
                    {% endfor %}
                </select>
                <select name = "langTwo">
                    {% for lang in all_langs %}
                    <option value = "{{ lang.name }}">{{ lang.name }}</option>
                    {% endfor %}
                </select>



            {% else %}

                <h3>No languages available</h3>

            {% endif %}

{#            <select name = "mydropdown">#}
{#                <option selected value="number">Hello</option>#}
{#                <option value="text">Goodbye</option>#}
{#            </select>#}


            <input type="submit" name="query" class="login login-submit" value="Analyse!">
        </form>

        <div class="login-help">
            <a href="help.html">help</a> • <a href="#">about</a>
        </div>
    </div>


</body>
</html>
